:root {
  --blue: #84a59d;
  --yellow: #f6bd60;
  --cream: #f5cac3;
  --red: #f28482;
  --borderRadius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, var(--cream), var(--yellow));
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.container {
  min-height: auto;
  padding: 2rem;
  background: white;
  color: var(--blue);
  border-radius: var(--borderRadius);
}

.container h3 {
  text-align: center;
  margin: 1rem;
  color: var(--yellow);
}
